@CHARSET "UTF-8";

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1
}

#modal-addUser {
  width: 800px;
  height: 530px;
  position: fixed;
  border: 2px;
  border-radius: 10px;
  padding: 10px;
  solid: #D04255;
  background-color: #FFF;
  display: none;
  z-index: 2
}
